body
{
/* background:url('Images/sadpug.jpg') no-repeat center center fixed; */
}

.eggs {
	float:right;
	color: white;
}

h1	{
color:	blue;
text-align:	left;
}
p	{
 color:	blue;
 }

.bigpic {
	clear:left;
	float:left;
	box-shadow: 10px 10px 5px #888888;
	margin-right:20px;
	}

header {
	 background-color:#cc0066;
	 width:500px;
	 text-align:center;
	 margin-left:auto;
	 margin-right:auto;
	 padding: 10px;
	 box-shadow: 3px 3px 7px #777;
	}

header a	{
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:white;
	margin: 15px;
	text-decoration:none;
	padding:5px;
	}

header a:hover {
	text-decoration:underline;
	color:yellow;
	background-color:blue;
	}
